/** Symbolset
 ** www.symbolset.com
 ** Copyright © 2012 Oak Studios LLC
 **
 ** Upload this file to your web server
 ** and place this within your <head> tags.
 ** <link href="webfonts/ss-standard.css" rel="stylesheet" />
 */

@font-face {
  font-family: "SSSocialRegular";
  src: url("//cdn.symbolset.com/a318620f0d572d28a6f928f0b83c369b962426a1/ss-redherring-audio.eot");
  src: url("//cdn.symbolset.com/a318620f0d572d28a6f928f0b83c369b962426a1/ss-redherring-audio.eot?#iefix") format("embedded-opentype"), url("//cdn.symbolset.com/a318620f0d572d28a6f928f0b83c369b962426a1/ss-redherring-audio.woff") format("woff"), url("//cdn.symbolset.com/a318620f0d572d28a6f928f0b83c369b962426a1/ss-redherring-audio.ttf") format("truetype"), url("//cdn.symbolset.com/a318620f0d572d28a6f928f0b83c369b962426a1/ss-redherring-audio.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.social-icon {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icon-link {
  @include type(24);
  @include no-underline;
}