%type-light {
  font-weight: 300;
}

%type-regular {
  font-weight: 400;
}

%type-medium {
  font-weight: 500;
}

%type-bold {
  font-weight: 700;
}

%type-upcase {
  text-transform: uppercase;
}

%type-downcase {
  text-transform: lowercase;
}

%type-fancy {
  font-weight: 400;
  font-style: italic;
}

%type-heading {
  font-family: $heading-stack;
  font-weight: 700;
}

%type {
  font-family: $font-stack;
  font-size: 16px;
}