<ul class="list-inline">
  <li><a class="icon-link" href="http://soundcloud.com/redherringaudio/"><span class="social-icon">Soundcloud</span></a></li>
  <li><a class="icon-link" href="http://facebook.com/redherringaudio/"><span class="social-icon">Facebook</span></a></li>
  <li><a class="icon-link" href="http://twitter.com/redherringaudio/"><span class="social-icon">Twitter</span></a></li>
</ul>