.background-video {
  background: $color-white;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  @media (max-width: $screen-sm-min) { 
    display: none;
  }
}